@model TodoWebApp.Models.HomeViewModel

@{
    ViewData["Title"] = "SSR";
}
<h2 class="mt-xl-5">Server-side rendering</h2>
<div class="mt-4 w-100 d-flex justify-content-center">
    <form asp-action="Create" class="d-flex gap-2 justify-content-center w-100 todo-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-auto">
            <input class="form-check-input" style="height: 30px; width: 30px; cursor: pointer;" asp-for="Done" />
            @*<label class="form-check-label" asp-for="Done">@Html.DisplayNameFor(model => model.Done)</label>*@
        </div>

        <div class="col-sm">
            @*<label asp-for="Title">@Html.DisplayNameFor(model => model.Title)</label>*@
            <input asp-for="Title" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Title)" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="col-sm">
            @*<label asp-for="CreatedDate" class="control-label">@Html.DisplayNameFor(model =>
                model.CreatedDate)</label>*@
            <input id="add-created-date" asp-for="CreatedDate" class="form-control"
                placeholder="@Html.DisplayNameFor(model => model.CreatedDate)" style="cursor: pointer;" />
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
        </div>

        <div class="col-auto">
            <input type="submit" value="ADD" class="btn btn-primary" />
        </div>
    </form>
</div>

<table class="table mt-4 align-middle">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayNameFor(m => m.Done)</th>
            <th class="w-50">@Html.DisplayNameFor(m => m.Title)</th>
            <th>@Html.DisplayNameFor(m => m.CreatedDate)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var todo in Model.Todos)
        {
            <tr style="height: 55px;">
                <td class="text-center">
                    <input class="form-check-input" type="checkbox" disabled @(todo.Done ? "checked" : "") />
                </td>
                <td class="text-wrap">@Html.DisplayFor(m => todo.Title)</td>
                <td>@Html.DisplayFor(m => todo.CreatedDate)</td>
                <td class="text-end">
                    <a asp-action="Edit" asp-route-id="@todo.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@todo.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
